    .lang-info-menu{
        background-color: #ffffff;
        width: 1366px;
        margin-top: 60px;
        margin-left: 0px;
        z-index: 50;
    }

    .lang-info-toggle{
        background-color: #ffffff;
        width: 1366px;
        margin-top: 60px;
        margin-left: 300px;
        z-index: 50;
    }

    .lang-image {
        width: 1066px;
        height: 388px;
        position: fixed;
    }

    .img-lang{
        width: 1366px;
        height: 170px;
        margin-top:0px;
        margin-left: 0px;
    }

    .container-lang {
        position: relative;
        color: white;
    }

    .centered-lang {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 212px;
        height: 26px;
        font-family: Roboto;
        font-size: 36px;
        font-weight: bold;
        line-height: 0.67;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;

    }

    .top-left-lang {
        position: absolute;
        top: 45px;
        left: 0px;
        width: 109px;
        height: 36px;
        background-color: black;
        color: white;
        font-family: Roboto;
        font-size: 18px;
        text-align: right;
    }

    .top-left-lang-text{

    }

    .lang-container{
        display: flex;
        flex-direction: row;
        color: white;   
    }

    .lang-text-container{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.2px;
        text-align: left;
        color: black;
        margin-top:50px; 
        margin-left:50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .chart{
        margin-top: 50px;
        margin-right: 50px;
        width: 250px;
        height: 250px;
    }

    .lang-chart-container{

    }

    @media screen and (max-width: 650px) {
    .lang-info-menu{
        background-color: #ffffff;
        width: 650px;
        margin-top: 60px;
        margin-left: 0px;
        z-index: 50;
    }

    .lang-info-toggle{
        background-color: #ffffff;
        width: 650px;
        margin-top: 160px;
        margin-left: 0px;
        z-index: 50;
    }


    .img-lang{
        width: 650px;
        height: 170px;
        margin-top:0px;
        margin-left: 0px;
    }

    }        
