	.dash-title{
		padding: 30px;
		size: 24px;
		font-family: Roboto , sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.2px;
		text-align: left;
		color: var(--black-two);
	}
	.dash-menu{
		width: 100%;
		margin-top: 60px;
		margin-left: 0px;
		z-index: 50;
		background-color: #E6E6E6;
	}

	.dash-toggle{
		width: 100%;		
		margin-top: 60px;
		margin-left: 300px;
		z-index: 50;
		background-color: #E6E6E6;
	}

	.card-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.card-columns{
		display: inline-block; 
		column-break-inside: avoid;
	}

	@media screen and (max-width: 650px) {
	.card-container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		background-color: #E6E6E6;
	}

	.dash-toggle{
		width: 100%;
		margin-top: 160px;
		z-index: 50;
		margin-left: 0px;
		height: 0px;
		padding-top: 5%;
		background-color: #E6E6E6;
	}

	.dash-menu{
		width: 100%;
		margin-top: 60px;
		margin-left: 0px;
		z-index: 50;
		background-color: #E6E6E6;
	}

	.dash-title{
		margin-left: 0px;
		margin-bottom: 0px;
		size: 24px;
		font-family: Roboto , sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.2px;
		text-align: center;
		color: var(--black-two);
		padding-bottom: 5%;
		background-color: #E6E6E6;
		}
	}