    .card {
    	float: left;
        width: 325px;
        background-color: white;
        margin-bottom: 10px;
    	transition: 0.3s;
        margin-left: 20px;
        align-items: flex-start;
    }

    .image-card{
        width: 325px;
        height: 183px;
        align-content: center;
    }

	.container {
	    padding: 2px 16px;
	}